/*DEVS-LAPTOP*/
*{
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

:root{
    --bg-color : rgb(255, 255, 255);
    --pri-txt-color : rgb(0,0,0);
    --sec-bg-color : rgb(0, 0, 0);
    --sec-txt-color : rgb(255, 255, 255);
}


body{
    background-color: var(--bg-color);

}

header{
    background-color: var(--sec-bg-color);
    padding: 20px 30px;
    color:var(--sec-txt-color);
}

h1{
    text-align: center;
}

.main{
    display: grid;
    gap: 20px;
}

.form-cont{
    display: grid;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    border: 1px solid var(--sec-bg-color);
    background-color: var(--pri-bg-color);
    color: var(--pri-txt-color);
    border-radius: 20px;
    margin: 0 30vw;
}

.form{
    display: grid;
    gap:10px;
}

.dynamic-input{
    display: grid;
    gap:10px;
}

.transition{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.single-inp{
    width: 30px;
}

.add-trans-btn{
    background-color: rgb(134, 134, 134);
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}


.nfa-display{
    position: absolute;
    inset: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    place-items: center;
    display: none;
}

table{
    height: 50%;
    width: 50%;
    font-size: 20px;
}

th, td{
    text-align: center;
}

.close-btn{
    position: absolute;
    top:50px;
    right:50px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
